<script type="text/javascript">
  // $(document).ready(function() {
  //   var el = $(".err")
  //   el.removeClass("err");
  //   el.addClass("nx")
  // })
</script>

<div class="blog-partial">
  <div class="header-container">
    <h2><%= blog.title %></h2>
    <h4> <%= blog.updated_at.strftime("%B %d, %Y") %> </h4>
  </div>


  <div class="markdown-container">
    <%= markdown(@blog.body) %>
  </div>
</div>

<% if logged_in?(:site_admin) %>
  <div class="blog-admin-links">
    <%= link_to 'edit', edit_blog_path %>
    <br>
    <%= link_to 'delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
