<div class='contact'>
  <h2>Contact</h2>
  <ul>
    <li>
      <a href="mailto:david@sawatske.com">
        <%= image_tag("email.png") %>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://linkedin.com/in/david-sawatske">
        <%= image_tag("linkedin.png") %>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/david-sawatske">
        <%= image_tag("github.png") %>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://angel.co/david-sawatske">
        <%= image_tag("angel.png") %>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://drive.google.com/file/d/1Uq9n9sWQ-Kc7oNQpJZF5FkDS69k_w4Cd/view?usp=sharing">
        <%= image_tag("resume.png") %>
      </a>
    </li>
  </ul>
</div>
