<div class='home-container'>
  <h2 class="name">David Sawatske</h2>

  <div class='links'>
    <h3>CONTACT PARTIAL</h3>
  </div>

  <div class='project-container'>
    <ul class="project-list">
    <% @projects.each do |project| %>
      <h1>
        <%= link_to project.title, project_path(project), id: project.id, remote: true %>
      </h1>
    <% end %>
    </ul>

    <div class="selected-project">
    </div>
  </div>

  <div class='profile-container'>
    <%= image_tag("me.png", alt: "me", class: "profile-picture") %>

    <div class="description">
      <h1> Hi, I'm David.</h1>
      <p>
        I'm a software developer. Please have a look at my projects or get to know me below.
      </p>
    </div>

    <div class='about-me'>
      <h2> About Me </h2>
      <p>My principal experience is in building React/Redux apps with a Ruby on Rails backend. Check the list below for list of some of the technologies I'm most familiar with below. Please feel free to contact me if you are looking to connect or if interested in discussing opportunities. Thanks!
      </p>
    </div>

    <div class="skills-list">
      <h2>Skills</h2>
      <ul>
        <li>JavaScript</li>
        <li>React</li>
        <li>Redux</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>jQuery</li>
        <li>Sass</li>
        <li>SQL</li>
      </ul>
    </div>

    <div class='contact'>
      <h2>Contact</h2>
      <ul>
        <li>
          <a href="mailto:david@sawawtske.com">
            <%= image_tag("http://res.cloudinary.com/sawatskeda10/image/upload/v1522779593/email_hj9imp.png") %>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/">
            <%= image_tag("http://res.cloudinary.com/sawatskeda10/image/upload/v1522779593/linkedin_v7kkx8.png") %>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/sawatkskeda10">
            <%= image_tag("http://res.cloudinary.com/sawatskeda10/image/upload/v1522780539/github_uvwdnt.png") %>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://angel.co">
            <%= image_tag("http://res.cloudinary.com/sawatskeda10/image/upload/v1522779593/angel_md8pqa.png") %>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://drive.google.com/">
            <%= image_tag("http://res.cloudinary.com/sawatskeda10/image/upload/v1522780818/resume_l3s55u.png") %>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="profile-click">
    <h2> About </h2>
  </div>
</div>
