<div class='home-container'>
  <h2 class="name">David Sawatske</h2>

  <div class='links'>
    <%= render "contact" %>
  </div>

  <div class="project-overlay">

  </div>

  <div class='project-container '>
    <div class="project-list project-sort">
      <% @projects.each do |project| %>
          <h1>
            <%= link_to project.title, project_path(project), id: project.id,
                                                              remote: true %>
          </h1>
      <% end %>
    </div>

    <div class="selected-project">
      <%= render @projects[0] if @projects[0] %>
    </div>
  </div>

  <div class='profile-container'>
    <%= image_tag("me.jpg", alt: "me", class: "profile-picture") %>

    <h1 class="hello"> Hi, I'm David.</h1>

    <div class="description">
      <p>
        I'm a software developer. Please have a look at my projects or get to know me below.
      </p>
    </div>

    <div class='about-me'>
      <h2> About Me </h2>
      <p>My principal experience is in building React/Redux apps with a Ruby on Rails backend. Check the list below for list of some of the technologies I'm most familiar with below.
        <br>
        <br>
      Please feel free to contact me if you are looking to connect or if interested in discussing opportunities. Thanks!
      </p>
    </div>

    <div class="skills-list">
      <h2>Skills</h2>
      <ul>
        <% @technologies.each do |tech| %>
          <li><%= tech.name %></li>
        <% end %>
      </ul>
    </div>

    <%= render "contact" %>
  </div>

  <div class="about-click">
    <h2> About </h2>
  </div>
</div>
