<%= form_for(@project) do |f| %>
  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="description">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="proj-img">
    <label class="upload-btn">
      <h4><%= type.capitalize %> Image</h4>
      <%= f.file_field :image, class: 'image-upload', style: 'display:none;' %>
    </label>

    <%= image_tag '', class: 'img-prev' %>
    <%= image_tag @project.image, class: 'current-img' if @project.image? %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
