<div class="nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :icon %>
  <%= f.file_field :icon, class: 'icon-upload', style: 'display:none;' %>
  <%= link_to_remove_association 'Remove Tech', f %>
</div>
