<div class="nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name %>

  <label class="icon-add">
    <% if f.object.icon? %>
      <%= image_tag f.object.icon_url, class: 'current-icon' %>
    <% else %>
      <%= image_tag 'add-img.png', class: 'current-icon' %>
    <% end %>
    <%= f.file_field :icon, class: 'icon-upload', style: 'display:none;' %>
  </label>

  <%= link_to_remove_association 'Remove', f %>
</div>
