<div class="nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :icon %>
  <%= f.file_field :icon, class: 'icon-upload', style: 'display:none;' %>

  <% if f.object.icon? %>
    <%= image_tag f.object.icon_url, class: 'current-icon' %>
  <% else %>
    <%= image_tag '', class: 'current-icon' %>
  <% end %>

  <%= link_to_remove_association 'Remove Tech', f %>
</div>
