<!DOCTYPE html>
<html>
  <head>
    <title>David Sawatske</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Playfair+Display" rel="stylesheet">
  </head>

  <body>
    <div class="info-head">
      <h2 class="name">David Sawatske</h2>

      <div class='links'>
        <%= render "pages/contact" %>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="session">
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <!-- <%= link_to "Register", new_user_registration_path %> -->
        <%= link_to "Admin Sign In", new_user_session_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
